.App {
  text-align: center;
  font-size: 15px;
  margin-top: 20%;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
  display: inline;
  margin: 10px;
}

.App-title {
  font-size: 25px;
}
